<!doctype html>
<html lang=en>

<head>
	<meta charset=utf-8>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Sample App | Cloud Run</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="preload" as="font">
	<link href="/assets/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<figure>
		Quote of the day:
		<blockquote>
			<p>{{quote}}</p>
			<figcaption>—{{author}}</figcaption>
		</blockquote>
	</figure>

</body>

</html>